@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - xli399</h1>
    <p class="lead">In this assignment I will build an app to serve the needs of companies in the music business. I will produce an app that will enable a record label to manage their artists, albums, and tracks.</p>
    <p><a href="https://xli399-wa-web524-a6.azurewebsites.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artist page</h2>
        <p>
            Artist page can show all the artist list, detailed information which includes all kinds of media files and create an new artist. You also can create new album and new media in the artist details page.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Album page</h2>
        <p>Album page can show all the album list and detailed information. You also can create a new track in the album details page.</p>
    </div>
    <div class="col-md-4">
        <h2>Tack page</h2>
        <p>Tack page can show all the Tack list and detailed information. You also can edit and delete the track in this page.</p>
    </div>
</div>